[2020-09-15 18:55] madars opened #28 "What is the correct transaction protocol (especially in the face of privacy trade-offs)?"
How does a user learn that they have received a payment?

This appears to be a hard problem when users can't self-validate the entire state of the system (e.g. are light clients or, in our case, CBDC users who simply don't get access to all transactions) and system provides strong privacy.

In particular, in Zerocash/Zcash-style systems a user is tasked with decrypting every payment and see if the

[2020-09-23 20:45] narula opened #27 "Implications of UTXOs"
We've chosen a UTXO-based model, but we should track all the pluses/minuses we end up finding for each here.

- Coin selection, aggregation (-UTXOs)
- Have to "discover" my money; hard to know what my UTXOs are (-UTXOs)
- Having to make change (-UTXOs)

[2020-10-21 19:31] adiabat opened #22 "Use a Keyed Hash function for some of the system's identifiers"
Since we're using hash functions for various identifiers and relying on collision-resistance of these identifiers, one optimization is to have a keyed hash function where only the server side knows the key.

The advantage of this is that even with a 16 byte truncated hash, users would not be able to cause identifier collisions, as they never get to see the TXIDs / UTXOids to try to collide them.

[2021-01-06 21:03] SpencerC opened #20 "Add Clang Mutex Guards"
https://clang.llvm.org/docs/ThreadSafetyAnalysis.html

Makes debugging race-conditions and other potential bugs in highly-threaded code much more tractable!

[2021-01-07 18:47] metalicjames opened #19 "Fix undefined behaviour in atomizer-cli-watchtower signal handler"
It turns out that we can't do much inside a signal handler. Some of our handlers lock mutexes and notify condition variables, which is not allowed by the C++ spec. [cppreference](https://en.cppreference.com/w/cpp/utility/program/signal#Signal_handler) includes a good explanation of the limitations on signal handlers.

[2021-01-12 16:57] narula opened #18 "Don't send the entire compact_tx in a tx_notify_request"
Right now, each shard includes the entire `compact_tx` in the `tx_notify_request` message to the atomizer when it attests to a transaction's inputs.

If a transaction spans multiple shards, the `compact_tx` is getting sent to the atomizer `n_shards` times.

Instead, the shard could send a smaller (compacter?) transaction which just includes the inputs it is attesting to. Perhaps the lowest index s

[2021-03-31 13:22] narula opened #16 "Non-raft atomizer"
Requested by @theuni -- consider ways to replicate the atomizer without using raft.

[2021-06-16 14:32] daveurness opened #25 "Improving usability on transaction confirmations and sharing outputs"
Sharing a couple ideas I had on changing the architecture to simplify transaction protocols for users

**1) Simplify confirmation process for wallets by shifting responsibility to the sentinels**: In both architectures, any querying of the watchtower could be shifted to the sentinel. Sentinels would be a one-stop stop for users submitting or wanting to know the status of a transaction. For the sub

[2021-07-23 22:15] HalosGhost opened #2 "Parallel Shard Replication/Partitioning Integration Tests"
Following some previous work, we can test spinning up multiple shards at once; now we should make sure they behave well through replication and partitioning.

The config crafted for the spin-up tests already lays out ranges for the shards such that among the five shards, no single transaction should ever live in-range of more than three shards, and the shards at both ends of the range cover areas

[2021-07-30 20:03] HalosGhost opened #15 "AoS optimization for full_tx"
Right now, a `full_tx` is an SoA (“struct of arrays”). This means, at minimum, we include 8 extra bytes in its representation (the count of witnesses is superfluous because all valid transactions must have an identical number of witnesses to inputs). Moreover, this likely poses an optimization opportunity (because when we are accessing a particular witness, we are also likely to be accessing its a

[2021-08-13 20:42] SpencerC opened #14 "Enable bugprone-easily-swappable-parameters lint check"
This check was removed from automated-linting when we upgraded clang-tidy to version 13; it would require significant, non-critical-path refactoring.

However, we should work to get the code conformant and reenable the check.

[2021-08-18 20:28] SpencerC opened #13 "Use randomized initialization params for const_sip_hash"
To further ensure that a malicious actor sending specially-crafted transaction messages cannot easily produce hashmap hash collisions (leading to performance degradation and potential DoS), we should initialize `const_sip_hash` with random parameters (the set of possible collisions is then randomized on each system run).

(Note that SipHash is not used for cryptographic purposes, e.g., when calcul

[2021-08-21 19:13] HalosGhost opened #12 "Add Coordinator State Machine snapshots"
At the moment, the coordinator state machine stubs out not-yet-implemented functions for snapshots. These should be replaced by functional implementations.

[2021-08-24 16:42] metalicjames opened #11 "Fix `network::tcp_listener::listen()` to fail when binding to an invalid endpoint"
Also add a unit test for this case, and re-enable the disabled archiver unit test marked with a TODO related to this failure.

[2021-08-24 17:29] metalicjames opened #10 "Replicated archiver"
Currently `archiverd` is not replicated. Use Raft or some other protocol to make the archiver fault tolerant.

[2021-08-24 17:41] HalosGhost opened #9 "Optimize Atomizer to use UDP Multicast (for block broadcasting)"
We've had several previous conversations exploring some performance improvements to the system's network communications.

One avenue we landed on as a possibility was using UDP multicast to broadcast blocks from atomizers to their shards. It seems as though there may be better options for improving performance in the near-term, but this is still an option worth potentially exploring in greater det

[2021-08-24 19:29] metalicjames opened #8 "Refactor atomizer state machine to use generic RPC server"
Refactor `atomizer::atomizer_raft` and `atomizer::state_machine` to use `raft::rpc::server` and `rpc::client`.

[2021-09-01 17:42] HalosGhost opened #7 "Enable `get_variant()` to also support default-constructible types"
Right now, we have an ``operator>>`` that can deserialize `std::variant`s whose alternatives are all default-constructible, and we provide `get_variant()` to deserialize `std::variant`s whose alternatives are all *not* default-constructible (leveraging a special constructor instead).

It should not be too difficult to extend `get_variant()` to also support types that are default-constructible (so

[2021-09-11 23:39] theuni opened #6 "Investigate BLS signatures as a replacement for Schnorr"
This came up in a discussion with @madars yesterday.

Using BLS signatures rather than Schnorr would allow for non-interactive signature aggregation. The benefit (which may not be worth the effort, depending on the make-up of real-world transactions) would be that a single witness per-transaction would suffice, rather than per-input as-is. Additionally, verification would be one-per-tx rather than

[2021-09-15 20:42] madars opened #5 "Use domain-separation for hash function invocations"
Often, a cryptographic system wants to make use of multiple independent random oracles, and when this random oracle is instantiated with the _same_ hash function the security argument breaks down. E.g. [Separate Your Domains: NIST PQC KEMs, Oracle Cloning and Read-Only Indifferentiability](https://eprint.iacr.org/2020/241) breaks multiple NIST PQC candidates which reuse the same H(...) for multipl

[2021-09-15 21:05] madars opened #4 "Consider using SHA3"
SHA256, currently used, has a number of points one could improve upon:
- it does not protect against [length extension attacks](https://en.wikipedia.org/wiki/Length_extension_attack) (not currently relevant for our work). This is cited as a reason [why Bitcoin uses double-SHA](https://bitcoin.stackexchange.com/questions/6037/why-are-hashes-in-the-bitcoin-protocol-typically-computed-twice-double-co

[2022-01-26 20:09] HalosGhost opened #3 "Test Coverage / Quality Umbrella"
There are a great deal of tests that should be added, and many additional branches that should be covered. To that end, this issue is meant to be a centralized place to keep track of tests that have been identified as good opportunities for improvement. We will try to keep the task list below up-to-date; so if you think another item should be added, feel free to comment it below and we will add to

[2022-02-03 23:16] UrsaEli opened #31 "Error with the docker build: Unable to locally verify the issuer's authority"
### Abstract

Error with the docker build:  Unable to locally verify the issuer's authority.

### Description

Error with the docker build.

bash-3.2# docker build . -t opencbdc-tx

"""
--2022-02-03 22:41:59--  https://github.com/google/leveldb/archive/1.22.tar.gz
Resolving github.com (github.com)... [IP]
Connecting to github.com (github.com)|[IP]|:443... connected.
ERROR: cannot verify github.com

[2022-02-03 23:36] HalosGhost commented on #31
Hello! This looks a little like a local firewall (or similar network restriction) causing the connection to GitHub to fail. Can you try running on an unrestricted network?

[2022-02-04 16:54] dmtrinh opened #32 "Minting transaction never completes when minting a large number of coins (> 1000 UTXOs)"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

After launching the system, run the following:
./build/src/uhs/client/client-cli 2pc-compose.cfg mempool0.dat wallet0.dat mint 1000 2000

The above will try to mint one thousand (1000) $20 dollar

[2022-02-04 17:54] HalosGhost commented on #32
Thank you for reporting! I will take a look at this today to try and reproduce.

[2022-02-04 20:36] HalosGhost commented on #32
I took a look at this and it completes almost instantly for me:

[code]

It seems possible to me this is a performance-related issue. Can you give me some more information about the hardware you're running on?

[2022-02-04 21:11] dmtrinh commented on #32
Sam,

Here's what I have:
<img width="1201" alt="hardware_info" src="https://user-images.githubusercontent.com/1691596/152602525-ba90bbcb-553d-4d73-8b99-95d0f39f790a.png">

I cleared everything and tried again.  This time the initial minting of 1000 UTXOs completed successfully.  I followed up with minting of 10000 UTXOs to the same wallet and it didn't complete.  I waited for over 10mins (20:53 -

[2022-02-04 22:22] HalosGhost commented on #32
Out of interest, can you try manually running `sync`; e.g.:

[code]

[2022-02-05 18:50] dmtrinh commented on #32
I can confirm @metalicjames fix solves this issue.  Below are the logs:
[code]
Sample run:
[code]

[2022-02-05 23:04] #32 closed, assigned to HalosGhost

[2022-02-06 10:12] mriise commented on #5
https://github.com/drand/drand may be of use

[2022-02-06 17:01] Pi-Runner opened #35 "C++ errors failed to build"
### Affected Branch

Scanning dependencies of target crypto
[  4%] Building CXX object 3rdparty/crypto/CMakeFiles/crypto.dir/sha256_avx2.o
c++: error: unrecognized command line option '-mavx'
c++: error: unrecognized command line option '-mavx2'
make[2]: *** [3rdparty/crypto/CMakeFiles/crypto.dir/build.make:63: 3rdparty/crypto/CMakeFiles/crypto.dir/sha256_avx2.o] Error 1
make[1]: *** [CMakeFiles/M

[2022-02-06 22:37] HalosGhost commented on #35
This looks like your compiler doesn't support AVX or AVX2. Can you provide some more details on what hardware/toolchain setup you have (e.g., the output of `lscpu` if on Linux, and `c++ --version` would be helpful)?

[2022-02-07 00:27] Pi-Runner commented on #35
I built it on a raspberry pi 4, using rasping version of linux.  Thank you for your help.

[2022-02-07 00:39] HalosGhost commented on #35
Ahh, that is unlikely to work. The code (in its current form) [assumes Linux x86_64](https://github.com/mit-dci/opencbdc-tx/blob/trunk/docs/getting-started.md#can-i-contribute-without-using-docker-running-some-other-environment-etc).

We don't require this to stay the same and would happily accept changes to make the code portable to other platforms; if you'd be interested in helping out with that

[2022-02-07 02:28] dmtrinh opened #36 "Build fails on MacOS"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

Trying to build this directly after cloning `opencbdc-tx` repository.  Linking failed with:
[code]

### Environment
[code]

### To Reproduce
1.  `git clone --recurse-submodules https://github.com/

[2022-02-07 14:55] HalosGhost commented on #36
Thank you for making such a detailed bug report! I don't have a mac machine immediately at-hand, but we are working to reproduce this build error so we can offer a fix!

[2022-02-07 15:19] HalosGhost commented on #35
@Pi-Runner I wanted to chime in and offer a possible work-around. I don't believe anything other than the sha256 implementation we leverage uses AVX or AVX2. So, the following patch should remove the need for AVX instruction sets:

[code]

This will probably negatively impact performance, but it will hopefully allow you to get the code compiling!

[2022-02-07 18:12] theuni commented on #35
Yep, CMake should learn to run checks for these rather than assuming the target arch.

[2022-02-07 18:44] HalosGhost commented on #36
In talking with a few folks who do have Apple hardware, it sounds like LevelDB may need to be compiled with RTTI disabled. In particular, if you apply the following patch to the leveldb source code before the compile/install step in `./scripts/configure.sh`, it should resolve this error:

[code]

[2022-02-07 20:59] HalosGhost commented on #31
I'm going to go ahead and close this issue; please feel free to reopen this if you can provide some more information or show that it's not a network-restriction issue.

[2022-02-07 20:59] #31 closed, assigned to HalosGhost

[2022-02-07 21:20] HalosGhost opened #37 "Any misbehaving client can trivially crash the Coordinator"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

This issue was initially found and reported by @toddfratello, and has been confirmed using the procedure below.

To reproduce in docker, we apply the following patch to enable use of `nc` (netcat)

[2022-02-07 21:28] metalicjames commented on #37
It's worth pointing out that in a real-world deployment, end-users would only be able to send packets to the sentinels and watchtowers. Therefore, I think it makes sense to focus efforts hardening the external interface to those components. This particular issue applies to all components though because the socket layer does not protect against malicious packets.

[2022-02-08 00:01] Pi-Runner commented on #35
Thanks,

Where would I paste. The patch code?

Hugh

[2022-02-08 00:33] HalosGhost commented on #35
You would download that to a file in the repository's root directory (e.g., named `no-avx.patch`), and then do the following:

[code]

You can read more about using `git-apply` on the official [`git` documentation](https://git-scm.com/docs/git-apply).

[2022-02-08 01:46] Pi-Runner commented on #35
Thanks, I’ll give it a try

[2022-02-08 05:30] tarfeef101 opened #39 "README Incorrectly Details Docker Permissions"
[here](https://github.com/mit-dci/opencbdc-tx#build-the-container), users are incorrectly told one needs a root shell for Docker. This is not true. The Docker installation instructions themselves detail specifically [how to avoid this](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user), and if you are using native mac/windows apps you probably don't even ha

[2022-02-08 14:48] HalosGhost commented on #39
Thanks for raising this! This is a tough needle to thread because we do want to make it as easy as possible for people to get up and running with the code, but you are correct that we shouldn't mislead people (nor should we encourage bad practices).

I will take a crack at drafting some better language pointing to the correct resources, but would welcome specific suggestions (and PRs, of course)!

[2022-02-08 14:51] tarfeef101 commented on #39
Sure, as long as there's a desire to change (and that seems to be the case), I can draft a PR later today :)

Always happy to see things being maintained 👍

[2022-02-08 18:44] VISQonSpotify commented on #27
Hi, curious to know. Is this being built on its own ledger or is this working on blockchain technology?

[2022-02-08 19:13] HalosGhost commented on #27
@VISQonSpotify I am not quite sure what your question is, but please read through the [technical paper](https://dci.mit.edu/s/HamiltonWhitepaper-2022-02-02-FINAL2.pdf) and [architecture guide](https://github.com/mit-dci/opencbdc-tx/blob/trunk/docs/architecture.md) for more information; and leave issues to discussion of the specific topic.

[2022-02-08 21:21] HalosGhost commented on #36
I'm going to go ahead and close this for now; however, if you know of a way this can be easily fixed without needing the upstream change, we would happily accept a PR!

(To that end, I'm going to mark it as needing more information (which, in this case, would be the fix itself) rather than wont-fix.)

[2022-02-09 05:53] tarfeef101 commented on #39
created #40

[2022-02-09 17:49] HalosGhost opened #42 "Improve the build system's ability to react to the target platform"
We've seen several instances of people trying to build the code on slightly (or wildly) different platforms from the one we “officially” support (namely, x64 Linux), and it resulting in similar build errors (cf. #35)

In particular, our build system currently hard-codes some flags that we want to set for performance, but aren't available on all platforms. It would be ideal if we could teach our CM

[2022-02-09 17:50] HalosGhost commented on #35
I opened a new issue so we can track a more systemic fix to this problem, and so will be closing this one as a duplicate of #42.

[2022-02-09 17:50] #35 closed, assigned to HalosGhost

[2022-02-09 19:19] UrsaEli opened #43 "[ERROR] Failed to connect to any atomizers at Setup test wallets and test them"
### Affected Branch

main @ https://github.com/mit-dci/opencbdc-tx.git

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

While running "Setup test wallets and test them":
 ./build/src/uhs/client/client-cli 2pc-compose.cfg mempool0.dat wallet0.dat mint 10 5

[2022-02-09 19:

[2022-02-09 19:24] HalosGhost commented on #43
There are two problems here:

1. You ran the output of the `info` command as a command itself (that's why the shell reported `Balance:: command not found`: it attempted to, at your request, run `Balance: $0.50, UTXOs: 10, pending TXs: 0` as a command).
2. You're running the 2PC architecture, which doesn't use atomizers. You can run  multiple copies of the system at once (thanks to docker), but a c

[2022-02-09 20:11] UrsaEli commented on #43
docker run --network atomizer-network -ti opencbdc-tx /bin/bash
docker: Error response from daemon: network atomizer-network not found.
ERRO[0000] error waiting for container: context canceled

[2022-02-09 20:14] HalosGhost commented on #43
Mmm, that's interesting. Did you rerun the `docker-compose` command to bring up the Atomizer version of the system? (on first blush, it looks like not).

[2022-02-09 20:16] UrsaEli commented on #43
yes, the error did not happen for:
--network 2pc-network
but error happens for:
--network atomizer-network

[2022-02-09 20:23] HalosGhost commented on #43
Just to be clear, you cannot just run the `docker run` command you mentioned. You'll also need to run the Atomizer version of the system. So, the two commands you would run are as follows:

[code]

That will run the system with the Atomizer architecture and a new container connected to the atomizer network (which is setup by the first command).

[2022-02-09 20:37] UrsaEli commented on #43
It runs now without error,
[code]
however, now at
[code]

same error follows:
[code]

[2022-02-09 20:45] HalosGhost commented on #43
You need to consistently refer to the configuration that you're interacting with. In the first command, you referenced the 2pc-compose.cfg (which won't work when you're interacting with the Atomizer system).

I would suggest starting fresh, choosing which version of the system you want to test, and then working through the commands consistently referring to the correct configuration.

[2022-02-09 21:57] UrsaEli commented on #43
pardon, I meant, I run:

[code]

[2022-02-09 22:04] UrsaEli commented on #43
[code]

[2022-02-09 22:21] HalosGhost commented on #43
Your `mint` command is trying to use the 2PC compose configuration.

[2022-02-09 22:29] UrsaEli commented on #43
./build/src/uhs/client/client-cli atomizer-compose.cfg mempool0.dat wallet0.dat mint 10 5
[2022-02-09 22:26:32.990] [WARN ] Existing wallet file not found
[2022-02-09 22:26:32.990] [WARN ] Existing client file not found
[2022-02-09 22:26:33.006] [ERROR] Failed to connect to any atomizers
terminate called after throwing an instance of 'std::system_error'
  what():  Invalid argument
Aborted

[2022-02-09 22:31] UrsaEli commented on #43
[code]

[2022-02-09 22:37] HalosGhost commented on #43
This still looks like the system running isn't right. Can you please post the commands from the beginning and include all output (it's also helpful if you put them in code blocks so they'll be rendered pleasantly):

1. `docker-compose --file docker-compose-atomizer.yml up --remove-orphans --detach`
2. `docker run --network atomizer-network -ti opencbdc-tx /bin/bash`
3. (inside the second container

[2022-02-10 02:02] UrsaEli commented on #43
I am still experiencing the error.

![Screen Shot 2022-02-09 at 6 01 59 PM](https://user-images.githubusercontent.com/7892794/153322922-4e0a5e52-d02e-4168-ae8f-7e9b49376f14.png)

[2022-02-10 02:22] HalosGhost commented on #43
You show two open containers there (from which you could run client commands), the one on the left was definitely started after the system was run (we know this because it was run in the same window). Is that also true of the one on the right? Is there a reason you opened two containers for client commands at the same time?

[2022-02-10 05:36] UrsaEli commented on #43
Isn't that what it means

(inside the second container):
[code]
?

I did the same for the first window, and it gives the same error.

![image](https://user-images.githubusercontent.com/7892794/153344306-31c0b8ec-f7f0-4735-80af-4ba90b0807d5.png)

[2022-02-10 05:43] HalosGhost commented on #43
I suppose “second” is a little unclear above. I was referring to running the `docker run` command *one time* and running the commands in that resulting shell.

This is now enough information to demonstrate that the code appears to be being run as-expected (sorry that was kind of a chore to get to that point!); so I've reopened the issue.

Can you provide (ideally in text code-blocks, not screensho

[2022-02-10 05:46] UrsaEli commented on #43
[code]

[code]

[2022-02-10 05:54] HalosGhost commented on #43
Hmm, something is definitely not right there. You can see that there doesn't seem to be a watchtower or atomizer running despite their having been started. (This is probably also why the running containers are failing out.)

I will take another look at this tomorrow morning, but the next step is to kill/remove all the containers (so that you can start completely fresh), and then run the `docker-co

[2022-02-10 06:01] UrsaEli commented on #43
1 more observation:

[code]

[code]

[2022-02-10 13:54] UrsaEli commented on #43
I tested with another machine which is on ubuntu. Though the 1st run gave a connection time out error (as below stated), it ran as stated on a 2nd attempt.

How is this failing for the Mac OS?

[code]

[2022-02-10 20:18] theuni commented on #36
Ok, I've tracked down the cause of this.

Upstream leveldb has now added `-fno-exceptions` and `-fno-rtti` to its build by default. This is not the case for the older version we fetch in the configure script.

So afaik this would happen on Linux too when using the latest leveldb.

They're strange (read: harmful, IMO, since those are kinda compiler hacks which affect the abi) flags for a library to

[2022-02-10 21:50] HalosGhost commented on #43
We've decided to take this discussion offline, but will report back with any insights we find in case anyone else runs into this issue!

[2022-02-10 21:57] #43 closed, assigned to HalosGhost

[2022-02-10 22:51] HalosGhost commented on #36
I think I'm mostly in the camp of options 3–5. Thank you for investigating @theuni! I'm reopening this issue for us to reference in PRs which address the problem!

[2022-02-11 16:58] temucin commented on #16
[SBFT ](https://arxiv.org/pdf/1804.01626.pdf) from VMware's research team seems like a good fit for the current architecture. C++ implementation is available [here](https://github.com/vmware/concord-bft). I believe it is also used in their COTS [product ](https://www.vmware.com/products/blockchain.html) as well.

[2022-02-11 17:38] temucin commented on #27
Compact transaction data (inptus and outputs available together in single transaction) +UTXO
Easy audit history +UTXO

Tranasction bloat -UTXO

Haven't dug in too deeply to the codebase, but is there an issue with "over sharing" transaction history? Other UTXO implementations have the issue of revealing historical data to non-relevant participants (e.g. Corda). There are ways to resolve this, but

[2022-02-11 18:16] temucin opened #49 "Exploring Blind Signatures for Privacy Approach"
### Question

It would be useful to explore the usage of blind signatures as a means of adding a privacy element to the system. As articulated by David Chaum, [here](https://sceweb.sce.uhcl.edu/yang/teaching/csci5234WebSecurityFall2011/Chaum-blind-signatures.PDF), and then later implemented in DigiCash and GNU Taler, and most recently [presented ](https://www.snb.ch/en/mmr/papers/id/working_paper_

[2022-02-11 19:26] centralbankdigitalcurrency commented on #42
👌👍

[2022-02-12 04:38] temucin opened #51 "Technical Reference Link 404s"
### Affected Branch

The hyperlink for the Technical Reference in _getting-started.md_ goes to a 404 site.  Not sure if its an issue with the host site or if the link is incorrect.

`* The [Technical Reference](https://mit-dci.github.io/opencbdc-tx/) includes documentation for the code itself and how it works`

![image](https://user-images.githubusercontent.com/7648487/153696679-679680b6-6106-4318

[2022-02-12 17:47] HalosGhost commented on #51
Indeed! The doxygen documentation can be built locally, and is built as a part of our CI. We're working on getting it auto-deploying from new merges into gh-pages!

[2022-02-13 02:36] dmtrinh opened #52 "Incorrect return type in header files causing Doxygen to fail"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

A few header files have extraneous /return commands causing Doxygen to fail.  These appear to be innocent typos due to copy/paste.

In order to reproduce the issue, follow these steps:

1.   Clone

[2022-02-13 03:03] HalosGhost commented on #52
Confirmed! Thank you for reporting!

[2022-02-13 04:08] manor opened #54 "The testing client imports unspendable inputs"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

root@2af70284b1b5:/opt/tx-processor#  ./build/src/uhs/client/client-cli 2pc-compose.cfg mempool0.dat wallet0.dat mint **1 1**
[2022-02-13 03:59:18.147] [WARN ] Existing wallet file not found
[2022

[2022-02-14 16:17] HalosGhost commented on #52
closed by #53

[2022-02-14 16:17] #52 closed, assigned to HalosGhost

[2022-02-14 16:29] HalosGhost commented on #54
I am able to reproduce this locally. I have a hunch on what's happening here. This looks like a bug in our testing client that results in importing an input regardless of whether or not that input is actually spendable.

For example, after performing the above operation, the recipient of this first transaction is able to spend the new single-cent token freely, but if the initial sender tries to se

[2022-02-14 17:18] HalosGhost commented on #51
I've manually published the latest version of the documentation on gh-pages, and it will be replaced with an automated deployment as soon as possible!

[2022-02-14 17:57] HalosGhost commented on #54
In looking a little deeper into this, my hunch was indeed correct.

In particular, you can see that [``client::import_send_input``](https://github.com/mit-dci/opencbdc-tx/blob/f670a157aef8ae2ff7b599101263e2c74c70e09f/src/uhs/client/client.cpp#L168) immediately imports an input without checking to see if it's spendable. This isn't particularly bad-behavior for a testing client, but it's easy-to-fix

[2022-02-14 19:27] HalosGhost commented on #49
This looks like a great proposal to walk through. Are you available to present this proposal at our first WG1 meeting (on Wednesday)?

[2022-02-14 19:55] temucin commented on #49
Would be happy to do so.

[2022-02-14 23:42] #42 closed, assigned to nobody

[2022-02-15 07:50] tanqiwen opened #56 "restart locking_shard failed because unable to find dtx data"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

In order to reproduce the issue, follow these steps:

1.  I build opencbdc project and excute on ubuntu lts 20.04 on real machine (not in docker)
2. start the sentineld,coordinatord,locking-shardd

[2022-02-15 08:37] tanqiwen opened #57 "[benchmarking question]"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

In order to reproduce the issue, follow these steps:

1. I stress test 2pc architectrure on 8 real machine for 8 sharding,each machine runing one sentinel ,coordinator,locking_shardd
2. runing ./t

[2022-02-15 16:11] metalicjames commented on #57
In the results file, each line is a single transaction. The first column is the timestamp in nanoseconds since the epoch, and the second column is latency, also in nanoseconds. How are you calculating your statistics above from that?

The locking shard and coordinator are raft-replicated services, and thus single-threaded, hence why only one core is used.

[2022-02-15 16:13] metalicjames commented on #56
It sounds like one of the coordinators is trying to recover a previously failed transaction, but the shard has a new state, and thus knows nothing about this transaction. All the files will be created in the working directory, so if you make sure that's clear, there shouldn't be any residual state between runs.

[2022-02-16 01:49] tanqiwen commented on #57
i use such “cat   tx_samples_*.txt  |awk '{print substr($1,1,10)}'|sort |uniq -c ” to  statistics

[2022-02-16 09:51] tanqiwen commented on #57
i use such cmd “cat tx_samples_*.txt |awk '{print substr($1,1,10)}'|sort |uniq -c ” to statistic

[2022-02-16 20:38] #36 closed, assigned to HalosGhost

[2022-02-16 20:43] HalosGhost commented on #5
@mriise It's not immediately clear to me how drand would be helpful for separating out which hash functions we use for which domains. My reading of it (I have only glanced at it thus far) is that it's a randomness daemon.

I'd be interested in some clarification of what you had in-mind.

[2022-02-16 22:04] metalicjames commented on #57
I think the throughput stability in your test would benefit from two things

1. Use fixed-size transactions to keep the number of unspent outputs in the shards stable, and to prevent the load generators from running out of outputs to spend. You can add the following to your config file to make the load generator send 2-in, 2-out transactions:

[code]

2. Pre-seed the shards with outputs so that th

[2022-02-17 00:01] mriise commented on #5
My suggestion was towards separating out independent random oracles from each layer and instead rely a "external" (as in separate from the normal network topology) randomness source. Though I don't fully understand details of the cryptographic constructions backing this project and it could be that relying on an external source of randomness would be incorrect altogether.

[2022-02-17 00:17] HalosGhost commented on #5
Gotcha, thank you for the clarification!

[2022-02-17 14:17] tanqiwen commented on #57
Can you tell me the approximate steps to use this  shard-seeder tool? i have use shard -seeder to gen pre-seed file  2pc_shard_preseed_1000000_0_255 (two-phase commit),but i don`t know how to use this file. And i also hope to join opencbdc project to complete it.

[2022-02-17 17:48] metalicjames commented on #57
I just posted PR #66 which simplifies the usage of the shard seeder tool. You can add the following to your config file to enable pre-seeding:

[code]

This will configure a pre-seed with 100000000 UTXOs, each of value 1000000. You can then run the shard seeder tool as follows: `shard-seeder [config file]`. The shard seeder will generate a series of files corresponding to each shard, which should

[2022-02-21 06:37] tanqiwen commented on #57
thank you very much ，the pre-seed method indeed improves pressure measurement performance. In addition, you need to add loadgen_count=1 configuration

[2022-02-21 06:38] #57 closed, assigned to HalosGhost

[2022-02-21 06:38] #56 closed, assigned to HalosGhost

[2022-02-24 19:34] #51 closed, assigned to HalosGhost

[2022-02-25 21:20] llsuperpositionll opened #71 "updating a source file does not propagate to opt/tx-processor"
### Affected Branch

mit-dci/opencbdc-tx

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

In order to reproduce the issue, follow these steps:

1. Modify a source file :  <homedir>/opencbdc-tx/src/uhs/client/**client-cli.cpp**
2. Issue command : docker build . -t opencbdc

[2022-02-26 17:24] dmtrinh commented on #71
It's likely one of the container layers in Step 2 did not get fully rebuilt.  Try running `docker build --no-cache`.

[2022-02-26 20:02] llsuperpositionll commented on #71
Thanks. Definitely something to do with caching.

I tried the _--no-cache_ option, but still had same issue. Don't know if it's related to running WSL on Windows 10.

Anyways, after deleting the 2 instances of _opencbdc-tx image_  in docker, and rebuilding (without _no-cache_), I was able to get past the issue, and try out a minor change:
![code](https://user-images.githubusercontent.com/26781058/

[2022-02-27 09:14] kali6o4 opened #72 "NFT Minting"
### Question

What's the logic behind minting NFTs on a cbdc?

Honestly just looking to dynamically recordkeep at a high throughput.

### Benefit

Potential business logic value

### Proposed Solution

I'll keep reading the documentation and relay any progress here (RTFM)

### Possible Difficulties

I have yet to quite understand whether minting is chain specific.

### Prior Work

I read alot.

##

[2022-02-27 16:18] HalosGhost commented on #72
Though I don't think NFTs are necessarily out-of-scope for OpenCBDC to explore, I think this proposal needs more fleshing out (which you've already mentioned you are planning to do).

To begin, I think it might make sense to dig a little deeper into the question you would want answered. In particular, what do you mean “What's the logic behind…”? Do you mean “What changes would it take to…” or do y

[2022-02-27 20:43] dmtrinh commented on #71
Had a chance to test this briefly.  I could not reproduce the problem locally on my macOS 12.2 so it could be something strange going on with WSL.

Here's what I tried:

1.   Grab a fresh copy of the repo:
```git clone --recurse-submodules https://github.com/mit-dci/opencbdc-tx```
2.  Build
```docker build . -t opencbdc-tx```
3.  Make an innocuous change - e.g. capitalizing the text "Unknown" in `

[2022-02-28 00:02] llsuperpositionll commented on #71
Thank you for checking.

Just to confirm, did you run the steps (3-4-5) again a second time ? I guess the cached the copy would be the first one..

Yes, otherwise it's probably something strange with my WSL setup..

[2022-02-28 00:22] HalosGhost commented on #71
I just had a chance to give a shot to this locally and I also cannot reproduce. When I modify files and go to rebuild the images, the output shows it rebuilding the code (and the cmake output shows that the specific files are rebuilt). On running the system, I see the modifications right away.

I'm going to mark this as `needs-more-information` for now; if anyone with a WSL setup available can dig

[2022-02-28 00:23] #71 closed, assigned to HalosGhost

[2022-03-06 09:48] EnrikoChavez commented on #11
Hi team,
I've been looking at this issue as my good first issue. As I've been looking around it looks to me that listen() does not fail with an invalid input. Instead it seems to be an issue in which the archiver test expected aliasing to happen, but instead a copy of a variable happened. So it never actually tested an invalid input. I added a new variable that takes in the modified input that has

[2022-03-07 00:50] HalosGhost commented on #11
Welcome! I can pull your code and take a look at it, but it's much easier for me (and everyone else) to review your contribution if you make a pull request as soon as you think it is ready for review. It also gives us tools to review the specific patch, and make recommendations inline.

If you think it's ready for us to take a look, please open a pull request (and, in the commit text, include `clo

[2022-03-08 18:30] #11 closed

[2022-03-09 04:44] trungnt1811 opened #74 "Integrate with java system"
Hi team,
I want to build a system written in Java to integrate with open cbdc-tx. Is there any way to execute these operations (mint, transfer, redeem) using Java?
Thank you.

[2022-03-09 14:25] HalosGhost commented on #74
Hello! You can think of the test wallet as being available for integration in two ways: as a CLI executable (that can be called from the shell like any other CLI tool, and will work so long as it can connect to a running sentinel), and as a static library (a `.a`/`.lib`).

It's been quite a while since I've worked with Java; but, if memory serves, [JNI](https://stackoverflow.com/questions/24608851

[2022-03-09 14:25] #74 closed, assigned to nobody

[2022-03-10 13:42] wadagso-gertjaap opened #75 "Analyze Atomizer's performance bottleneck"
### Question

In the [Phase 1 paper of Project Hamilton](https://dci.mit.edu/opencbdc) we concluded that "The atomizer itself is the limiting factor for the overall system as all transaction notifications have to be routed via the atomizer Raft cluster.". Where lies the exact bottleneck of the Atomizer, and can it be alleviated?

### Benefit

By knowing where the exact bottleneck of the Atomizer l

[2022-03-10 13:53] wadagso-gertjaap commented on #75
I started a few of the possible next steps in [this](https://github.com/wadagso-gertjaap/opencbdc-tx/commits/atomizer-performance-experiment-1) branch - specifically switched to an in-memory RAFT store and returning only block heights from the RAFT state machine, fetching them from the controller and moved publishing them to a separate thread.

The difference between these two commits is astonishi

[2022-03-13 17:35] lehoangtran289 commented on #74
Hi @HalosGhost and team,

Regarding to this issue, i'm currently facing difficulties as well in attempting to integrate the open cbdc-tx with our system which was written in Java.

From your afforementioned comment, one suggestion would be wrapping client classes in C++ then use JNI to interact with it, but i'm wondering if it is reasonable to write the whole client using Java instead of C++ and i

[2022-03-13 19:32] HalosGhost commented on #74
There's no reason you cannot write a client from-scratch; You'd probably spend a fair bit of time looking at the [`client`](https://github.com/mit-dci/opencbdc-tx/tree/trunk/src/uhs/client) directory.

However, you should be aware that we don't version anything (this project is very much a research endeavor), so each new commit may include a change that breaks the API.

[2022-03-16 22:43] HalosGhost opened #80 "Adding Minimal Tamper Detection"
### Question

What are the methods and trade-offs of improving the system's ability to detect an attacker inflating (or deflating) the monetary supply?

### Benefit

Tamper-detection is a stepping stone toward tamper-prevention (which is an important area of CBDC research). The system as-implemented now has no method of detecting if any machine has been compromised or if a bug has caused incorrect

[2022-03-18 17:25] #54 closed, assigned to nobody

[2022-03-23 19:05] alibama commented on #72
https://ricardian.gitbook.io/ricardian-llc/ seems like a use case for nfts =

[2022-03-23 21:44] HalosGhost commented on #72
@alibama use-cases aren't really the same thing as a research question. If you have an idea of how this proposal should be edited to make any of the sections more clear or actionable, that is welcome!

[2022-03-24 02:23] alibama commented on #72
@HalosGhost

i saw @kali6o4 say:

Benefit
Potential business logic value

and followed that line of commentary to note some relevant code

i'm still trying to contextualize your work, frankly... it seems a bit in a bubble

[2022-03-24 13:53] HalosGhost commented on #72
In some sense it definitely is in a bit of a bubble. This work is meant to help answer questions about potential designs, properties, and trade-offs of CBDCs (not necessarily to build one). That doesn't mean developments in other digital currency spaces are out-of-scope or irrelevant, but it does mean that the existence of something elsewhere doesn't necessarily mean it's useful or relevant here.

[2022-03-25 13:14] HalosGhost opened #81 "Adding Feature Flags"
# Background

Right now, we have two architectures (2PC and Atomizer), so when a new feature gets proposed, there is a high-probability that implementation will require touching two separate locations in the code.
As we explore more architectures, or solutions which involve changes to the two we have, this problem is likely going to be more pronounced.
It results in the following draw-backs:

* Th

[2022-03-25 18:15] davebryson opened #82 "Docker build fails on git clone of asio"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

I'm trying to build via Docker on Mac Pro (Apple M1 pro).  The docker build continues to fail at the point of cloning the `asio` repo:
[code]
[Stack overflow](https://stackoverflow.com/questions/3

[2022-03-25 18:24] HalosGhost commented on #82
I cannot seem to reproduce this, but I do not have an Apple machine. Perhaps someone with a more similar setup can offer some advice.

[2022-03-25 20:39] davebryson commented on #82
Thanks.  This **appears** to be an issue related to gnutls (vs openssl) when used by git/libcurl behind a corporate MITM proxy.

[2022-03-25 20:58] HalosGhost commented on #82
If you manage to confirm that, mention me and I can close this, but I want to leave it open for a little while just in case there is indeed something we should fix in the docker files (though, it does sound like something more infrastructural to me).

[2022-03-27 21:37] davebryson commented on #82
After a lot of experimentation and web searches related to this issue, I believe there can be issues with building the container for users that are behind a corporate proxy that uses a MITM approach with SSL.  But this will most likely vary depending on the proxie's setup.
- The version of `git` used by Ubuntu is compiled against gnuTLS.  This seems to cause issues for many behind proxies.  The re

[2022-03-28 00:16] HalosGhost commented on #82
@davebryson thank you for sharing your findings! I will close this, but anyone who stumbles on this issue may want to take a look at #78 (a part of what it does is separate the docker image into stages, which we are likely to merge in an attempt to speed up the build-time of images, reduce the image size, and potentially offer a sensible base image for people to download more easily)!

[2022-03-28 00:16] #82 closed, assigned to nobody

[2022-03-29 21:01] davebryson opened #83 "Adding Smart Contract Support"
### Question

What amount of smart contract support is possible with the UTXO model and CBDC architecture?

### Benefit

A CBDC with smart contract support could be useful to both policy makers and end users:

- Policy makers would have the ability to automate policy through code.
- End users could pay taxes or establish things such as re-occurring payments. 
- Business could use the functionality

[2022-03-31 13:46] HalosGhost commented on #83
@davebryson thank you for opening this proposal! I think a lot of people are interested in determining the limits of what can be achieved on top of the UTXO model. One thing that comes to mind for me was [discreet log contracts](https://dci.mit.edu/smart-contracts); have you taken a look at them yet?

I'm also interested in your offering of WASM for a runtime environment; why do you think it would

[2022-03-31 16:24] davebryson commented on #83
@HalosGhost I missed discreet log contracts - but I'll dig in!  I don't want to try to argue why I think it'd be better (yet), but I'll offer some reasons why I think it's worth exploring.

- Standardized compact binary format
- Designed for deterministic execution
- Rapid startup time
- Write contracts in many different languages: Rust, C++, AssemblyScript...
- Tooling ecosystem

[2022-03-31 16:52] HalosGhost commented on #83
Sounds good! As for WASM, I should have clarified that I wasn't asking you to defend your choice, but only to understand the motivation. The examples you listed are quite compelling for it to be a candidate.

I particularly find the “choose your favorite language to author contracts in” point to be motivating.

[2022-03-31 19:50] metalicjames opened #84 "Guard against malicious sentinels"
In the current UHS-based data model, sentinels validate the transaction-local invariants of a full transaction, before converting the transaction to a compact representation which is the data structure processed by the backend (2PC or Atomizer). Since the data required to validate the full transaction is lost after being converted to a compact transaction, it would be trivial for a compromised sen

[2022-04-07 17:50] davebryson commented on #84
@metalicjames @HalosGhost This is an interesting challenge.  How do reach consensus on the state of the sentinels without maintaining some kind of shared state?

Thinking out loud here...my initial reaction is a simpler approach with redundant validation:

- Add secure, authenticated communication between the core services (ssl, noise protocol...). This helps with the 'origin' issue
- Sentinel doe

[2022-04-07 18:36] HalosGhost commented on #84
@davebryson there are a couple of interesting things to consider there. I think your final note rings true for me (that moving compaction to a secondary validator is just shifting the burden rather than solving the problem). Additionally, that idea distills to having two sentinels validate the transaction rather than allowing it to be a configurable threshold (as James's PR supports). It also has

[2022-04-07 21:14] davebryson commented on #84
@HalosGhost  Some form of BFT consensus among the sentinels sounds like a viable solution.  But this will certainly impact performance.

[2022-04-07 21:42] HalosGhost commented on #84
Mmm, that's absolutely true. BFT could offer an answer to a much stronger threat-model than the one posed in #80. In particular, BFT would allow not just tamper-detection, but tamper-*prevention* for up to f simultaneous compromises/failures (as long as there are 3f+1 nodes operating).

What's more, it could probably be leveraged beyond just the sentinels. However, you're right that it would likel

[2022-04-07 22:18] davebryson commented on #84
@HalosGhost  Just thinking of the 2pc implementation, it will be interesting to see how far the TPS rates gets dialed back once all the security gets added in.  I'm certainly interested in giving that a try.   More to come.

[2022-04-10 19:55] davebryson commented on #84
Here's an interesting approach they may have some applicability to the problem:

https://arxiv.org/abs/2003.11506

FastPay is using an account based model.  Byzantine Consistent Broadcast may be worth investigating in the context of the Sentinels and UTXO model

[2022-04-15 00:01] davebryson opened #88 "2pc locking shard and leveldb"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

The 2pc locking shard includes leveldb  as a dependency.  https://github.com/mit-dci/opencbdc-tx/blob/trunk/src/uhs/twophase/locking_shard/locking_shard.hpp#L20. But it doesn't look like leveldb i

[2022-04-15 00:23] metalicjames commented on #88
Leveldb is used by our raft log implementation. Since the 2PC shard is a raft replicated service leveldb is a dependency.

We implement the interface `nuraft::log_store` using leveldb here: https://github.com/mit-dci/opencbdc-tx/blob/ef541b5ecf2c851863ec44fdcfa7f0fc0da31ba2/src/util/raft/log_store.hpp#L17

Moving upwards in the stack, `cbdc::raft::log_store` is used by `cbdc::raft::state_manager`

[2022-04-19 16:59] HalosGhost commented on #88
@davebryson do you have any follow-up or further questions on this, or is it ready to close?

[2022-04-19 20:56] davebryson commented on #88
No it can be closed.  Thank you

[2022-04-19 21:17] #88 closed, assigned to HalosGhost

[2022-04-20 18:08] madars opened #90 "Explore strong Layer 1 privacy to hide sender, recipient, and amount"
### Question

Can strong Layer 1 privacy solutions, currently deployed in cryptocurrencies, be scaled to a level of a major payment system or a CBDC? What are trade-offs and implications for payment workflows, auditability of supply, and regulatory compliance?

### Benefit

OpenCBDC is designed to store minimal information at the transaction processor core: the main data structure (UHS) consists o

[2022-04-22 08:38] CanYouGiveMeAName opened #91 "some question about process"
### Abstract

I had some doubts when I read the paper recently. But there is no contact information in the paper, so ask a question here, hope to get the answer, thank you!

1. efficacy of shard
2. doubt of `preventing double spends`

### Description

1. When all input UHS are in one shard, will this transaction send to atomizer? If so, how can user get result form watchtower; if not, atomizer sho

[2022-04-22 09:24] #91 closed, assigned to HalosGhost

[2022-04-22 21:54] HalosGhost commented on #91
@CanYouGiveMeAName just to double-check, are you still looking for answers to these questions? (It seems you closed the issue shortly after creating it.)

[2022-04-24 01:38] CanYouGiveMeAName commented on #91
Thank you very much! I read the paper several times and found that I did not understand the transaction process before, which is why I had this question. But I still don't have a deep understanding of the role of fragmentation. Each shard processes every transaction, and the shard's role is just to share the pressure of writing data? As reading data in a set is very fast.

[2022-04-26 22:38] davebryson opened #94 "Unable to build on OSX with bash scripts"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

There are several small issues with both `scripts/configure.sh` and `scripts/build.sh` that prevents building on OSX.  Here are few I've run across so far:

- brew installs leveldb but the header

[2022-04-26 22:52] narula commented on #91
Hi @CanYouGiveMeAName -- each shard does _not_ process every transaction, in either architecture.

Yes -- every eventually confirmed transaction is sent to the atomizer to be ordered into a block. Additional shards improve performance by removing the workload of checking input existence (memory, CPU, disk) from the lead atomizer, and enabling UHS sizes that are too large for one machine. We do see

[2022-04-27 13:53] davebryson commented on #94
It appears the bash files in `scripts` are primarily designed to support the Dockerfile in `scripts`.  But `configure.sh` includes some support for OSX.  Would it be best to separate some of this for clarity?   For example: local build vs Docker build.  This is relevant to little things like the location of the `build` directory.

[2022-05-01 18:01] davebryson opened #97 "Some local tests may fail if port number is not available"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

Testing outside of Docker may fail if a port number is needed for the test and the port is in use.  In some cases, this may result in a seg fault  which can be misleading.  For example, the unit t

[2022-05-02 16:21] HalosGhost commented on #97
I've run into this before, and we do have one potential solution for it housed under #3 (particularly in the task `Add support for OS-assigned ephemeral port numbers and leverage them in-tests`).

It should be possible to listen on port 0 (which should fetch an available port).

[2022-05-04 22:29] davebryson opened #98 "Secure Minting"
### Question

How can the system support secure minting of currency?

### Benefit

A secure minting solution will ensure that only pre-authorized, designated, wallets can mint new currency

### Proposed Solution

For an initial solution we will add the ability for sentinels to recognize and validate mint transactions.  This will require:

- Adding configuration information to include a list of pub

[2022-05-05 15:22] davebryson commented on #81
@HalosGhost  Why not simplify it by refactoring architectures into their own separate repositories?   `utils` and `3rdparty` would be a shared dependency.   This could reduce the complexity, isolate testcases per architecture, reduce build time,  and potentially simplify benchmarking.  It also lays the structure for any future architectures.

[2022-05-05 15:40] HalosGhost commented on #81
@davebryson this is a reasonable idea. It does somewhat guarantee that the architectures will not be in-sync with one another (perhaps that's ideal in this case because it means that interest will drive contributions to each architecture—rather Darwinian). It does mean that if a given change is useful for multiple architectures, it's quite a bit more work for contributors to ensure the change is p

[2022-05-06 16:47] davebryson commented on #98
@HalosGhost  You can assign this to me.  I've started working on it.

[2022-05-11 20:53] HalosGhost opened #100 "Enable supply auditing by storing values in the UHS"
If we include the value of the output in the preimage used to create the UHS ID, and store the values along-side the IDs in the UHS, then we've effectively made a hash-based commitment to the value which can be verified after-the-fact.

This makes it easy to keep all our invariants, and elegantly adds a simple mechanism to verify that the full monetary supply continues to hold the total-minted-val

[2022-05-11 20:53] HalosGhost opened #101 "Enable supply auditing by storing cryptographic commitments"
UHS IDs, being opaque hashes, do not reveal enough information for the system to audit the amount of currency in-circulation.

Similar to #100, we could modify the underlying data structure of the UHS to be a map rather than a set, storing additional data on the value-side of each key-value pair. However, storing plaintext values both weakens privacy guarantees in the system (now core components a

[2022-05-13 14:25] davebryson commented on #98
@HalosGhost  Working through an implementation of secure minting, I've ran into an issue with the Atomizer sentinel.  Minting transactions do not have Tx inputs.  However, the Atomizer sentinel expects Tx inputs in order to forward the transaction: https://github.com/mit-dci/opencbdc-tx/blob/trunk/src/uhs/atomizer/sentinel/controller.cpp#L97.   It *appears* the atomizer sentinel uses Tx inputs to

[2022-05-25 16:34] HalosGhost commented on #98
@davebryson I just want to double-check, it sounds like you managed to find an answer to the primary question you had; is there anything else tripping you up or blocking you?

[2022-05-25 16:44] HalosGhost commented on #7
partially via 96c8b46aff849340e16c3a8ede691ebfe2fcd02c.

Supports either all alternatives being default-constructible, or all being non-default-constructible.

[2022-05-25 16:44] #7 closed, assigned to nobody

[2022-05-25 17:32] davebryson commented on #98
@HalosGhost I don't think so.  The only issue I see is I need to remove checking for no inputs in the atomizer architecture:  https://github.com/mit-dci/opencbdc-tx/blob/trunk/src/uhs/atomizer/shard/shard.cpp#L123. But this should be ok as the transaction would never get this far if it didn't pass validation.

Right now I'm merging conflicts from latest trunk.  So I hope to have the initial pull r

[2022-05-25 17:53] HalosGhost opened #108 "Add integration test to check Atomizer snapshotting"
The Atomizer snapshotting code has no tests at the moment; ideally we'd get a lot more coverage to ensure it continues to work as-expected, but even some small assumption tests would be a solid improvement.

[2022-05-25 20:46] mszulcz-mitre commented on #3
I'd like to contribute to the project and it seems like writing a few tests is a good entry point.  I've started looking into the 2nd task on the list, 'Add unit test for cbdc::from_buffer(nuraft::buffer&)'.  Is anyone working on this yet?

[2022-05-25 20:51] mszulcz-mitre commented on #15
Is this optimization in a part of the code that's been identified as a bottleneck via profiling?  Also, what's the likelihood of this issue being rendered immaterial due to [#6](https://github.com/mit-dci/opencbdc-tx/issues/6)?

[2022-05-25 22:53] HalosGhost commented on #15
Definitely not; it's just a particularly well-known optimization that might be applicable. If anyone's interested in implementing it, they should definitely do some basic profiling in-advance to know that this will even help.

I've not seen immediate interest from anyone in implementing #6, so it's difficult to say if that will be merged at some point.

[2022-05-25 22:57] HalosGhost commented on #3
@mszulcz-mitre Not that I'm aware of; Feel free to hit the [Convert to issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists#about-issue-task-lists=) button, and dig in!

[2022-05-26 16:10] mszulcz-mitre commented on #3
@HalosGhost Thanks for the quick reply!  Ready to dig in!  I'm having some trouble converting the task to an issue though.  According to the [GitHub page about task lists](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists), you're supposed to be able to hover over a task and then click a circle with a dot in it.  I've opened this page in 3 different browsers, but I

[2022-05-26 16:36] HalosGhost commented on #3
@mszulcz-mitre happily!

I wondered about that; I think you're not the first one who's not been able to do that, but GitHub's documentation is unclear on who is allowed to hit that button. Please feel free to open the new issue; I'll edit the original task-list appropriately.

[2022-05-26 23:37] mszulcz-mitre opened #111 "Add unit test for cbdc::from_buffer(nuraft::buffer&)"
This issue references a task in [Issue #3](https://github.com/mit-dci/opencbdc-tx/issues/3), Test Coverage / Quality Umbrella.

- Currently, there is no unit test for `cbdc::from_buffer(nuraft::buffer&)` in `src/util/raft/util.hpp`.

- There is also no specific unit test for `cbdc::make_buffer(const T&)` from the same file.  Rather, it's part of a test for Raft clusters called `basic_raft_cluster_

[2022-05-26 23:42] mszulcz-mitre commented on #15
@HalosGhost Thanks for the quick reply!  I'm interested but, as you pointed out, profiling will be important and I haven't done it yet for this code.  I'm wondering how to approach it since I'm guessing the bottlenecks will change depending on run configurations.  Has anyone made a list of what configurations impact performance and what their sensitivities are in somewhat realistic scenarios?  The

[2022-05-26 23:53] mszulcz-mitre commented on #15
@HalosGhost  On a related note, I’m wondering if and how you'll measure changes to performance as part of the merge process.  It looks like the [Standards for Merging Contributions](https://github.com/mit-dci/opencbdc-tx/blob/trunk/docs/contributing.md) don't discuss this specifically, but given that performance is the first goal discussed in the [white paper](https://static1.squarespace.com/stati

[2022-05-27 11:53] ykaravas commented on #3
Hello, my name is Yiannis Karavas (with MITRE) and I'd like to start contribute to the project. I have begun work on "Improve test for cbdc::nuraft_serializer::read() to cover non-error cases". I cannot click the "Convert to issue" button either, so should i also just create a new issue?

[2022-05-29 02:01] HalosGhost commented on #3
@ykaravas indeed; feel free to just reference this issue in the one you create and I'll update/add it to the list as-needed. :)

[2022-05-31 16:11] #111 closed, assigned to mszulcz-mitre

[2022-05-31 17:58] #94 closed, assigned to davebryson

[2022-06-01 12:53] HalosGhost commented on #15
Not to my knowledge. We have some ideas (talked about in the paper) of the scalability properties of the system, and therefore what you might expect to happen by increasing or decreasing the number of a given component. We don't, though, have a list of configurations in which you could run the system and how you might expect each configuration to perform.

@metalicjames can step in here to clarify

[2022-06-01 13:07] HalosGhost commented on #84
closed via #87

[2022-06-01 13:07] #84 closed, assigned to nobody

[2022-06-02 05:46] ykaravas opened #117 "Add unit test to cover non-error cases of cbdc::nuraft_serializer::read()"
This issue references a task in https://github.com/mit-dci/opencbdc-tx/issues/3, Test Coverage / Quality Umbrella.

The cbdc::nuraft_serializer::read() does not cover non-error cases

To resolve this issue, a unit test was added to raft_test.cpp called test_raft_serializer_read which makes sure the test hash which is read from the cbdc::nuraft_serializer is in fact correct. It also moves cursor, r

[2022-06-02 18:42] ykaravas commented on #4
@HalosGhost It looks like this issue should be closed. There is a pull request related to it that seems to have completed this. Am I correct in my thinking here or is there still work to be done for this issue?

[2022-06-02 19:12] AlexRamRam opened #119 "Dependencies and timing issues while initializing servers in 2PC architecture causing integration test failure"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

Currently, `SetUp()` in `tests/integration/two_phase_end_to_end_test.cpp` contains a number of `sleep(100 msecs)` statements. The purpose is to guard against failures that may be caused by timing

[2022-06-02 19:18] HalosGhost commented on #4
@ykaravas that PR wasn't merged (it was automatically-closed due to our having to rewrite history to fix an attribution problem); but we are still interested in that work. Dean has been busy with other work at the moment and hasn't been able to update the PR for the next round of review.

[2022-06-02 19:20] ykaravas commented on #4
@HalosGhost Ok good to know! Thank you! Working on getting my bearings still with the code and reading through issues to figure out where else i can contribute. Thanks again

[2022-06-03 15:23] AlexRamRam opened #121 "Several non-fatal (and presumably ignorable) events cause ERROR-level log messages"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

Several non-fatal (and presumably ignorable) events cause `ERROR`-level log messages, affecting the clarity and power of the logging mechanism.

Some examples observed during the `atomizer_end_to_

[2022-06-03 19:25] mszulcz-mitre opened #122 "Extend test.sh"
The script `opencbdc-tx/scripts/test.sh` runs integration and unit tests and measures test coverage.   It has a few limitations:
- It must be run from the top-level folder in the repo (`opencbdc-tx/`).
- It assumes the build directory is called `build` and is located in the top-level folder of the repo (i.e. `opencbdc-tx/build`).
- It always runs unit and integration tests and measures coverage.

[2022-06-07 12:42] AlexRamRam opened #125 "[atomizer::state_machine] fix assertion failure in create_snapshot() and clarify meaning of last committed log index"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

### Synopsis
In `cbdc::atomizer::state_machine::create_snapshot(snapshot& s ...)` we
[`assert(s.get_last_log_idx() == last_commit_index())`](https://github.com/mit-dci/opencbdc-tx/blob/7e3dd76ec4e

[2022-06-07 14:10] HalosGhost commented on #125
Can you expand on the trade-offs of the two solutions? The first solution offers some additional clarity, but might become fragile due to relying on internal hooks of nuraft. The second solution seems lighter-weight and puts us in the driver's seat on what we care about. Is the only trade-off of the second solution that there will be a few more lines of code to manage the manual indexing and a rel

[2022-06-07 14:52] AlexRamRam commented on #125
Yes - I've added to the solution #1 section. @metalicjames  will let us know what other considerations I may have missed.

[2022-06-07 22:26] #117 closed, assigned to nobody

[2022-06-08 14:11] HalosGhost opened #127 "Refactor test suite to support starting components asynchronously"
From [a discussion](https://github.com/mit-dci/opencbdc-tx/pull/106/files#r887288399) on #106, it became clear that our test suite has a pretty unfortunate reliance on being able to start components synchronously.

In particular, some components (e.g., shards) rely on connecting to another component (e.g., an atomizer) before they can function properly. But, because the components must be started

[2022-06-08 14:45] wenkanglu opened #128 "What are the challenges associated with CBDC interoperability?"
With the advent of distributed ledger technology (DLT), many nations are [dabbling](https://www.atlanticcouncil.org/cbdctracker/) with the idea of a central bank digital currency (CBDC). It would be reasonable to say that each nation has different requirements for a CBDC, and therefore are likely to make use of different solutions to achieve the results they require. If such is the case, how do pa

[2022-06-08 21:13] dkgaraujo opened #129 "Possible typo and clarification edits on README.md"
Hi all. I would like to propose the following edits to README.md. They are minor in nature, but should be helpful to users first getting in contact with this repo.

* In the *Run the code* section, I believe there should be a hyphen between "docker" and "compose", like so:

Run the System
[code]

* In the *Setup test wallets and test them* section, I would propose adding a one-row explainer that t

[2022-06-08 21:33] HalosGhost commented on #129
Actually, the use of `docker compose` is intentional. `compose` v2 is integrated into `docker` as a subcommand (as opposed to `docker-compose` which was a standalone binary). cf. [the docs](https://docs.docker.com/compose/#compose-v2-and-the-new-docker-compose-command). In our case, `docker-compose` actually has different behavior which is more likely to lead to breakage and confusion, so we speci

[2022-06-08 22:27] dkgaraujo commented on #129
Thanks for the quick feedback @HalosGhost!

On the docker composer topic: thanks for clarifying, makes complete sense!

About the wallet issue - I'm afraid I didn't express myself as clearly as I wanted to. What I mean is that between the steps where we make a wallet and then we send 30 units to that new wallet, the command includes as argument the payee's wallet string (`usd1qrw038lx5n4wxx3yvuwdn

[2022-06-08 22:57] HalosGhost commented on #129
Ahh, I see what you're saying. Namely, you're saying that in the send-currency step, it doesn't feel clear that the string you pass is the address generated in the previous step?

[2022-06-08 23:07] dkgaraujo commented on #129
Yes, exactly.

[2022-06-08 23:20] HalosGhost commented on #129
I'd happily review/accept any PR to improve our documentation (including README clarity)!

[2022-06-13 06:23] mszulcz-mitre opened #131 "Impossible to trigger error "Failed to start coordinator client""
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

Consider the following branch in `sentinel_2pc::controller::init`(src/uhs/twophase/sentinel_2pc/controller.cpp, lines 38-41):
[code]
The top line checks if the coordinator client fails to start. I

[2022-06-15 11:44] ykaravas opened #133 "Add unit test to cover error and some non-error cases of cbdc::raft::node"
This issue references a task in https://github.com/mit-dci/opencbdc-tx/issues/3, Test Coverage / Quality Umbrella; specifically, related to the fifth issue down the list which reads:

"Improve test for `cbdc::raft::node` to cover all error (and ideally non-error) cases"

The `cbdc::raft::node` does not cover error cases (and ideally some non-error cases)

To resolve this issue, a unit tests will b

[2022-06-15 14:05] ykaravas commented on #3
@HalosGhost I would like to take a crack at the task that reads " Craft a config that can be used as a basis for most tests". I think this will be helpful in furthering my understanding of the code and will obviously be useful for testing etc... I was wondering if you could elaborate a bit on what is meant by "as a basis for more tests"?

- Are we looking for larger and more complex config files?

[2022-06-17 16:30] HalosGhost commented on #128
@wenkanglu interoperability is definitely of interest to OpenCBDC. How you might design a CBDC to be interoperable with others is still an open-question; bridges like you mention above might be possible (though, conceptually, there's no fundamental reason a CBDC's ledger—in whatever form it takes—needs to be public, so this might not be the best option). There are other options (an obvious possibi

[2022-06-17 16:38] #133 closed, assigned to nobody

[2022-06-17 16:45] HalosGhost commented on #3
@ykaravas I think it probably makes sense for that discussion to happen under that issue (feel free to open it and repost your questions), and I'll answer there.

However, in broad strokes, I can tell you my original motivation for adding that task: I thought (and still think) that having a more complex and varied configuration would be helpful. Namely, I think it might serve as a solid test bed f

[2022-06-17 16:48] #125 closed, assigned to nobody

[2022-06-17 16:56] HalosGhost commented on #131
I agree; at least on the surface, that seems eminently reasonable. It's been a little while since I poked the rpc layer; so, out of interest, have you given a shot to changing that? Did you run into any immediate issues?

[2022-06-19 06:32] mszulcz-mitre commented on #131
Unfortunately, changing false to true causes a unit test to fail.  The good news is that, as written, I think it should fail.  Here’s the test up to the failing assertion (tests/unit/rpc/tcp_test.cpp):
[code]
Before I changed false to true, `client.init()` was guaranteed to always return true and the assertion always passed.  After the change, it became possible for it to return false and the asse

[2022-06-19 06:36] mszulcz-mitre commented on #131
I made the proposed change in Pull Request #135.  In addition to the bug fix itself, the PR modifies the unit test that failed to account for the new behavior expected after the bug fix.  Finally, the PR adds a new unit test to trigger the error that was previously impossible.

Right now the PR is a draft.  It's passed all the checks, so if you agree with the changes we're discussing, I'll click "

[2022-06-21 00:15] ykaravas opened #136 "Craft More Intricate Config Files"
This issue references a task in https://github.com/mit-dci/opencbdc-tx/issues/3, Test Coverage / Quality Umbrella; specifically, related to the fourteenth issue down the list which reads:

" Craft a config that can be used as a basis for most tests"

[2022-06-21 00:16] ykaravas commented on #136
@HalosGhost I would like to take a crack at the task that reads " Craft a config that can be used as a basis for most tests". I think this will be helpful in furthering my understanding of the code and will obviously be useful for testing etc... I was wondering if you could elaborate a bit on what is meant by "as a basis for more tests"?

- Are we looking for larger and more complex config files?

[2022-06-21 00:19] ykaravas commented on #136
Regarding your comment as to whether or not it would conflict with https://github.com/mit-dci/opencbdc-tx/issues/81 i think not necessarily. I envision the configuration generation, and subsequent possibility of more complicated integration tests, to exceed the ability of what could be done with feature flags. I may be wrong though

[2022-06-21 22:05] ykaravas commented on #136
@HalosGhost  I have made some good progress on this on a branch. I can create a draft pull request if you would like to take a look. I do have a few questions on top of the above. I am just curious why in the 2pc architecture configuration files, coordinators and shards have an extra "_count" configuration (which i believe corresponds to nodes since they are raft replicated) but the Atomizer does

[2022-06-21 22:43] HalosGhost commented on #136
I'm always happy to take a look at code (even if it's not quite ready for merge)! However, my backlog is growing, so I'll warn that it may be a little bit before I can review it.

`<component>_count` is how you tell the config parser to know how many components it should attempt to parse the config for (and is not specific to 2pc; in `/config.cfg.sample`, you can see these defined for the atomizer

[2022-06-22 00:04] ykaravas commented on #136
@HalosGhost Ok. I will create a draft merge request. Honestly, at this point, it actually may even be ready for a merge. I have the basics plus some, of a configuration generation schema up and running. And as you said, it may be wise to possibly merge it in before it gets too cumbersome (with a possible refactoring of cbdc::config. And no worries! I am sure you are very busy.

Thank you for the b

[2022-06-22 05:43] ykaravas commented on #136
@HalosGhost  With regards to your response regarding the _count", i am aware of the atomizer_count, shard_count etc...  However, if you look at the 2pc ones, for example, opencbdc-tx/tests/integration/integration_tests_2pc.cfg, you will see that there is a shard_count (which i understand) and a coordinator_count (which also makes sense). There are also, however, shard0_count and coordinator0_count

[2022-06-24 01:56] AlexRamRam opened #139 "config.sh breaks for Apple Silicon Macs due to new homebrew install prefix"
### Affected Branch

On Apple Silicon Macs, [Homebrew's install prefix has changes](https://github.com/Homebrew/brew/issues/9177) from `/usr/local` to `/opt/homebrew`. As a result, `scripts/config.sh` fails where it references `/usr/local/bin`

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in dock

[2022-06-24 03:00] jonwiggins commented on #139
Hmm, I tried to fix this in #116  by using `$(brew --prefix)`
https://github.com/mit-dci/opencbdc-tx/blob/aa10a7a9de42c009a834c32b90c1a01799a80c67/scripts/configure.sh#L32
What is the error you get? Maybe if the `/usr/local/bin` directory doesn't exist I should have added a check that will make it if needed.

[2022-06-24 14:29] wenkanglu commented on #128
That's an interesting perspective regarding the minimum interface. I was also dabbling with the idea of a common model like the OSI. It might be a naive way of thinking about it but it would certainly simplify things.

Perhaps another way to see this whole interoperability issue is to just "deal with it when we get there". Maybe central banks first need to just make retail and commercial CBDCs ava

[2022-06-24 15:12] AlexRamRam commented on #139
I see. Yes, `/usr/local` can be empty.
I'm motivated to propose changes to keep things within the brew ecosystem (minimizing affecting `/usr/local`), as well as addressing the potentially missing dirs in `/usr/local`. Also, `gmake` is covered by `brew install make`; it looks like that can be removed:
[code]
Additionally, we add `mkdir -p /usr/local/lib /usr/local/include` in the penultimate Nuraft

[2022-06-24 17:17] jonwiggins commented on #139
If you test it and that works then it should be fine. I don't recall exactly what the issue was, but I'm sure I wouldn't have linked those clang things into `/urs/local` unless something was looking for them there.

Hmm, I wonder why I didn't have it then. I wouldn't have added that line if I got it from `brew install make`.

[2022-06-28 05:06] mszulcz-mitre opened #140 "Accessing nonexistent elements in sentinel_2pc::controller"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

In sentinel_2pc::controller,  a nonexistent element in the vector `m_opts.m_sentinel_endpoints` can be accessed if `m_sentinel_id > m_opts.m_sentinel_endpoints.size() - 1`.  The access occurs in L

[2022-07-05 23:18] mszulcz-mitre opened #141 "Non-existent element access and infinite loop in sentinel_2pc::controller"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

# Problems
I’ve observed 2 issues with `sentinel_2pc::controller::gather_attestations`:  a non-existent element access and an infinite loop.

### 1. Non-existent element access
When `m_sentinel_en

[2022-07-06 15:55] HalosGhost commented on #141
Both of these are good catches. I'm resoundingly in-favor of putting this in the initialization routine. An impossible state has been requested; no reason to keep going. @mszulcz-mitre are there any drawbacks that you can think of from preferring the check in `::init()`?

[2022-07-07 00:52] mszulcz-mitre commented on #141
@HalosGhost I can't think of any significant drawbacks to adding the code to `::init()`.  As you pointed out, an impossible state has been requested, so I think it makes sense for initialization to fail.

[2022-07-07 01:02] mszulcz-mitre commented on #140
@HalosGhost As I was replying to your recent comment on Issue #141, I remembered this issue and thought I'd mention that it's similar.  As with the bugs in #141, this bug allows an impossible state to be requested for `sentinel_2pc::controller`.  To avoid it, it seems reasonable to do a check in `::init()`.

[2022-07-07 01:14] HalosGhost commented on #140
It's funny, I had misread them and actually thought they were the same. Thank you for specifically calling my attention to it. And I agree that it's also quite reasonable to fix such things as a check (and subsequent failure) in `::init()`.

[2022-07-07 18:53] pkyriakis commented on #83
I wanted to start working on this, as it seems very exciting. I just have a doubt about the purpose of adding smart contracts in a centralized currency. Since this would be run by a single, trusted authority, any programmability logic could be external, not necessarily part of the transaction processor, right? In the current system, if users need to pay taxes or set up recurring payments, that cou

[2022-07-08 19:57] HalosGhost commented on #83
@pkyriakis, you raise several great points.

First off, I don't think it is a settled issue whether or not programmability (in some form) is a good idea for a CBDC—that is, at least in part, relevant to the given jurisdiction. What's more, the level of programmability to-be-supported is also an open question. To your point, layer-2 can probably handle a huge portion of the basics that people would

[2022-07-08 22:08] mszulcz-mitre opened #145 "Issues with transactions in `sentinel_2pc::controller`"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

### Problem:  `sentinel_2pc::controller::execute_transaction` can never fail.

Its description says it returns “false if the sentinel was unable to forward the transaction to a coordinator” (lines

[2022-07-08 23:07] HalosGhost commented on #139
@AlexRamRam any word on this?

[2022-07-08 23:12] #108 closed, assigned to nobody

[2022-07-08 23:22] HalosGhost commented on #145
Here's a bit of background on `gather_attestations()`: https://github.com/mit-dci/opencbdc-tx/pull/87#discussion_r874246345

In short, `gather_attestations()` returns (probably) before the attestations have actually been gathered (because it executes a set of asynchronous callbacks).

This is not my favorite construction, but the obvious alternative (having `gather_attestations()` block) is likely

[2022-07-08 23:23] HalosGhost commented on #145
cc @metalicjames

[2022-07-09 01:48] pkyriakis commented on #83
@HalosGhost I am sure there is a lot of value in programmability, but honestly I do not think that such a radical technology will be adopted by any central bank. Nonetheless, it's definitely interesting to implement it.

@davebryson Is there a strong reason to require deterministic execution? As far as I understand, in the decentralized setting deterministic execution is needed in ensure consensus

[2022-07-11 15:58] HalosGhost opened #147 "Simplify copyright statement"
In the initial release, only two parties needed to be named for copyright. That's no longer the case due to several open-source contributors (thank you and welcome)!

Rather than have the copyright notice need to be updated across all the files which contain the notice, we should simplify this process to maintain a single list:

- [ ] Create an `AUTHORS` file
- [ ] Migrate all known copyright hold

[2022-07-21 01:36] mszulcz-mitre opened #153 "Accessing non-existent elements in locking_shard::controller and coordinator::controller"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

## Problem

This issue is similar to Issue #140.

There are no checks in the constructor or `init` method for` locking_shard::controller` that the values of parameters `shard_id` and `node_id` are

[2022-07-21 17:06] HalosGhost commented on #153
Given that bounds-checking comes with performance-considerations, and `init()` is rarely-called, I'd rather the bounds-checking verification happen there rather than pushing that verification down the stack.

solid concept-ACK.

[2022-07-21 17:42] mszulcz-mitre commented on #153
@HalosGhost Absolutely-- bounds checking probably won't significantly impact the overall execution time in if used in `init`s or constructors (or their initializer lists).

Could I ask about the project's overall error-handling strategy?  In a lot of the code I've seen, it seems the strategy is to log a message and return false if a function or method has an error.  Using the `at` method to detect

[2022-07-21 20:10] HalosGhost commented on #153
Exceptions are disabled in this code-base (for a variety of reasons), so we should not rely on any exception-handling.

I think it is likely best to avoid throwing exceptions wherever possible so that some version of graceful failure is possible.

[2022-08-12 16:27] LillieH opened #156 "Allow arbitrary EVM smart contract applications to compute in an enclave"
Allow arbitrary EVM smart contract applications to compute in an enclave, akin to Oasis Sapphire (which runs Solidity EVM in an SGX enclave).

[2022-08-15 17:42] jallen-frb opened #158 "Decouple atomizer component dependencies"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

In order to reproduce the issue, follow these steps:

1. Run ```docker compose --file docker-compose-atomizer.yml up```
2. The watchtower comes online slowly which chains failures to connect to it

[2022-08-16 16:13] LillieH opened #160 "Implement Complete Knowledge (CK) on TEE"
CK is a cryptographic primitive to prove that a key is controlled by a single person - so would be very useful for KYC/AML. Generation of CK proofs currently needs special hardware like SGX or mining ASIC. The main challenge is availability and developer (un)friendliness of these hardware resources.

Background information:
https://docs.google.com/presentation/d/1sSMpq-CiM9N6BqogTmI_Doghwo8TRXgsV-

[2022-08-19 04:24] mszulcz-mitre commented on #158
Pull Request #157 seems relevant.  I'm not familiar with the expected output from Step 1 in the bug description, but when I do Step 1 with the commit in #157, the output eventually stops with the sentinel being "Done":
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/102264773/185541678-895a32fb-a4f5-45ca-9f0b-7ecf5ad899c2.png">

Without the commit, the output continues

[2022-08-23 16:33] #131 closed, assigned to nobody

[2022-08-30 15:16] HalosGhost opened #165 "Enable `readability-identifier-length` lint check?"
As mentioned in #162, much of the codebase is not compliant with this newly-added `clang-tidy` [check](https://clang.llvm.org/extra/clang-tidy/checks/readability/identifier-length.html). Looks like the default settings (which we mostly tend to keep) requires that variables names be 3 characters long or longer.

This is as much a question on whether or not we should enable such a stringent check as

[2022-08-30 15:17] HalosGhost commented on #165
cc @metalicjames

[2022-09-01 20:51] HalosGhost commented on #83
cf. #164

[2022-09-02 15:47] kylecrawshaw opened #167 "Sentinels fail to start coordinator client"
### Affected Branch

tunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

When running opencbdc-tx 2pc architecture, if the sentinels are started before coordinators the sentinels fail to start with the error `[ERROR] Failed to start coordinator client`. This occurs whet

[2022-09-07 22:42] pr4u4t opened #171 "Multiple occurences of unresolved symbols from snappy in leveldb"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [ ] The issue is reproducible in docker

### Description

Only example of error message from build. Multiple unresolved symbols from snappy library when building on Arch Linux.
[code]
In order to reproduce the issue, follow these steps:

1. scripts/confi

[2022-09-08 15:09] HalosGhost commented on #171
Mmm, that is indeed not ideal. In particular, on any platform where `leveldb` is being built-from-source (cf. #162, will be all platforms soon), we need to ensure we're handling the dependencies correctly.

To that end, your branch looks good, but should also probably include `snappy` as a package to install in `./scripts/configure.sh`.

[2022-09-08 15:30] #167 closed, assigned to HalosGhost

[2022-09-08 21:09] HalosGhost opened #173 "Devise a more flexible alternative to configuration files"
Our current configuration file setup is optimized for ease of testing. This is not at all a problem, but it does occasionally have its drawbacks and it has major negatives for anyone wanting to run a copy of this system in a more realistic environment. Namely, it makes it impossible to increase the number of components in the system dynamically (because the configuration file change would need to

[2022-09-09 16:05] HalosGhost commented on #171
cc @metalicjames; do you think we should pull in these changes as a part of #162?

[2022-09-09 17:31] pr4u4t commented on #171
Added snappy to apt-get/homebrew,opening pull request.

[2022-09-15 18:01] mszulcz-mitre opened #180 "Raft node logging"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

## Problem

Pull request #174 replaced the usage of std::cout with a logger in class `raft::node`.  Here's the changes:
![image](https://user-images.githubusercontent.com/102264773/190468107-b4184

[2022-09-15 19:54] metalicjames commented on #180
@mszulcz-mitre I pushed #181 which fixes the immediate bug.

In terms of the other uses of `std::cerr`, it's currently used anywhere a log instance isn't available, or when outputting directly to the console without log formatting is required (in a console application, for example).

[2022-09-22 14:51] #180 closed, assigned to HalosGhost

[2022-09-26 05:55] mszulcz-mitre opened #183 "Potential improvements to `mock_system`."
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

The `mock_system` class “Establishes dummy listeners for each enabled system component” such as a watchtower, atomizer, or sentinel.  It’s used in many of the integration tests.  I think it’s an e

[2022-09-26 06:03] mszulcz-mitre commented on #183
I opened draft pull request #184 to address these issues.

[2022-09-27 16:37] #140 closed, assigned to nobody

[2022-09-27 16:37] #141 closed, assigned to nobody

[2022-09-27 18:25] mszulcz-mitre opened #186 "Part of "Run the Code" section in README.md appears broken"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

In the "Run the Code" section of README.md, the following step hangs:

where `<wallet address>` is the address returned from running the `client-cli` with the `newaddress` keyword.

I followed the

[2022-09-27 18:26] mszulcz-mitre commented on #186
@ykaravas repeated the steps above and also observed that the send-currency step hangs.

[2022-09-27 18:41] kylecrawshaw commented on #186
I've also observed this recently when running in a non-replicated configuration. This issue does not seem to occur when running RAFT components in a replicated configuration.

[2022-09-27 20:09] HalosGhost commented on #186
I can also confirm running into this. @kylecrawshaw it's interesting that it doesn't occur in replicated configurations. Does anyone have any log output that would suggest where the issue is? At least for me, it seems to result in the components hanging as well (so no logs following the hang); is that true for everyone else?

[2022-09-27 20:46] mszulcz-mitre commented on #186
This commit seems to have caused the break:
b9a259718f1ccc4c0283fc8fbd7d9e1922640a9f

This previous commit is the last one for which the send-currency step succeeds:
cb0e78df568652c58b270ec7ecfbfada0617fc8f

[2022-09-28 05:26] mszulcz-mitre opened #187 "Casting errors in client-cli"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

The executable compiled from `client-cli.cpp` is used to interact with the transaction processor.  In the "Launch System" section in README.md, it's called to mint new coins, print the balance of

[2022-09-29 16:26] HalosGhost commented on #186
CC @metalicjames and @wadagso-gertjaap.

The commit that appears to have broken this process (b9a2597) really only has two effects: changing the level at which a lot of init-failure messages are logged, and removing early-`return`s which caused components to shutdown.

It seems fair to rule out the log-level being related. So, the most likely issue is that one of the components is failing to init

[2022-09-29 17:29] mszulcz-mitre commented on #186
@HalosGhost Allowing the sentinel controller to retry initializing the coordinator client makes the `send` command work as expected.  Here's the code I used to replace the conditional you pointed out:
[code]
Here's the result:
[code]

[2022-09-29 18:19] HalosGhost commented on #186
We probably don't want infinite-retry… though maybe that's actually the right choice. In other places, we tend to put a delayed-retry loop (just like you have above), but with a retry-threshold (after which it would probably fatally-error out).

@metalicjames thoughts?

[2022-09-30 23:32] mszulcz-mitre commented on #186
This issue seems related to Issue #127, Issue #158, and Pull Request #157.  All involve the question, "What should be done when a controller fails to initialize a component:  log a warning and keep going or retry the initialization some number of times?".  Retrying seems to solve the problem here and in Issue #158--and potentially at least one aspect of #127.  But I don't know enough about all the

[2022-10-18 21:56] #171 closed, assigned to HalosGhost

[2022-10-19 16:30] HalosGhost commented on #186
I'm also unsure about this. I think, for system stability, it probably makes sense for most initialization to use a delayed-retry-with-threshold (potentially using exponential back-off for the delay). But, we also don't want to spend too much time on this since it's really only useful for us to spend cycles on to get the system stable for testing (production-grade use-cases aren't necessarily the

[2022-11-02 18:03] Cbdc2022 opened #194 "Errors in running "E2E Testing with Kubernetes""
Hi,
I tried to run "E2E Testing with Kubernetes" , but all test cases failed with the following error:
Events:
Type Reason Age From Message
---- ------ ---- ---- -------
Normal Scheduled 7m17s default-scheduler Successfully assigned opencbdc-tx-qg7ep1/shard-0-1-0 to opencbdc
Warning Failed 5m17s (x12 over 7m15s) kubelet Error: ErrImageNeverPull
Warning ErrImageNeverPull 2m6s (x27 over 7m15s) kubel

[2022-11-02 18:08] HalosGhost commented on #194
CC @kylecrawshaw

[2022-11-02 18:12] Cbdc2022 commented on #194
FYI:
OS: ubuntu 22.04 running on virtual machine - VMware® Workstation 16 Pro (16.2.4 build-20089737)

$ docker version
Client: Docker Engine - Community
 Version:           20.10.21
 API version:       1.41
 Go version:        go1.18.7
 Git commit:        baeda1f
 Built:             Tue Oct 25 18:01:58 2022
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

Serv

[2022-11-20 19:05] xczh opened #195 "Running environment lacks shared libraries"
### Affected Branch

trunk

### Basic Diagnostics

- [X] I've pulled the latest changes on the affected branch and the issue is still present.

- [X] The issue is reproducible in docker

### Description

In order to reproduce the issue, follow these steps:

1. Just follow the README documentation, run this command: `docker compose --file docker-compose-2pc.yml up --build` or `docker compose --file

[2022-11-21 17:09] HalosGhost commented on #195
Thanks for looking into this! Have you taken a look at #193? I'd actually imagine this issue is solved by it (we're working to fix a CI bug, after which #193 will be merged).

[2022-11-21 18:02] xczh commented on #195
Sorry I didn't notice #193. It seems that you are trying to remove the dependency of `snappy`. However, the lack of `snappy` dependency in the current trunk branch code will cause compilation failure. I think the default branch should always be compiled and run successfully. The user should be able to complete the test according to the instructions in the README document.

[2022-11-21 19:20] HalosGhost commented on #195
@xczh I completely agree. The bottleneck on the CI issue is far less than ideal, but we are actively working on it. There's nothing to stop us from merging #193 before the CI issue is fixed, but doing so sets a precedent I don't love.

[2022-11-21 19:37] xczh commented on #195
I see. After the #193 is merged, if everything is OK, I think this issue can be closed too. Thank you for your kindly reply :wink:

[2022-11-28 20:55] #195 closed, assigned to HalosGhost